.emailBox {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #e7f9fd;
  border-radius: 60px;
  width: 75%;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;

  &Right {
    max-width: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &Left {
    max-width: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &Header {
    font-size: 3rem;
  }
  &Title {
    text-align: center;
    max-width: 620px;
  }
  &Input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 24px;
    background-color: #ffffff;
    width: 40%;
    padding: 1% 0% 1% 2%;

    &Email {
      margin: 0 1%;
      line-height: 3rem;
      background-color: transparent;
      border: none;
      outline: none;
    }
    &Button {
      margin: 0 5%;
    }
  }
}
