.recipeCard {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background: linear-gradient((rgba(231, 249, 253, 0), rgba(231, 249, 253, 1)));
  border-radius: 30px;
  padding-bottom: 1%;
  margin: 5%;
  &ImageFood {
    border-radius: 20px;
    width: calc(100% - 40px);
  }
  &Favorite {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 40px;
    border: none;
    padding: 0;
    border-radius: 50%;
    background: no-repeat scroll 0 0 transparent;
    &Image {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  &TagContainer {
    margin-top: auto;
    $medium: 1500px;
    @media screen and (max-width: $medium) {
      font-size: 0.9rem;
    }
    display: flex;
    flex-direction: row;
    width: 95%;
  }
  &Title {
    margin-left: 5%;
  }
}
