.App {
  background-color: #FFFFFF;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 1rem;
  font-weight: 400;
}


